/Web_Admin/nbproject/private/
/Web_Admin/build/
/Front_End/BtecLandWeb/nbproject/private/
/Front_End/BtecLandWeb/dist/
/Front_End/BtecLandWeb/build/
/Front_End/BtecLand/nbproject/private/
/Front_End/Front-end33/Front-end/build/
/Front_End/Front-end33/Front-end/dist/
/Front_End/Front-end33/Front-end/nbproject/private/
/Front_End/BtecLand/build/
/Front_End/BtecLand/dist/
/Front_End/WebApplication1/nbproject/private/
