* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}


body {
    background-color: #c2ceeb !important;
    font-family: "Open Sans", sans-serif;

}

/*==================
 HEADER SECTION
====================*/

#aa-header .aa-header-area .aa-header-right .aa-icon {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    font-size: 20px;
    border: 1x solid #fff;
    background: url(https://cdn.houseviet.vn/images/icons/user-avatar.png) top center / cover no-repeat;
    display: inline-block;
    margin-top: 2px;
}

#aa-header {
    border-bottom: 1px solid #fff;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99;
}
#aa-header .aa-header-area {
    display: inline;
    padding: 5px 0;
    float: left;
    width: 100%;
}
#aa-header .options-menu {
    display: none;
}
#aa-header .aa-header-area .aa-header-left {
    display: inline;
    float: left;
    width: 100%;
}
#aa-header .aa-header-area .aa-header-left .aa-telephone-no {
    color: #fff;
    text-shadow: 3px 3px 4px #080808;
    float: left;
    font-size: 15px;
}
#aa-header .aa-header-area .aa-header-left .aa-telephone-no span {
    margin-right: 5px;
}
#aa-header .aa-header-area .aa-header-left .aa-telephone-no span .skype_c2c_logo_img {
    display: none !important;
}
#aa-header .aa-header-area .aa-header-left .aa-telephone-no .skype_c2c_text_span {
    color: #fff !important;
}
#aa-header .aa-header-area .aa-header-left .aa-email {
    text-shadow: 3px 3px 4px #080808;
    color: #fff;
    float: left;
    letter-spacing: 0.5px;
    margin-left: 20px;
    font-size: 15px;
}
#aa-header .aa-header-area .aa-header-left .aa-email span {
    margin-right: 5px;
}
#aa-header .aa-header-area .aa-header-right {
    display: inline;
    float: left;
    width: 100%;
    text-align: right;
}
#aa-header .aa-header-area .aa-header-right .aa-register {
    border-right: 1px solid #f8f8f8;
    color: #fff;
    text-shadow: 3px 3px 4px #080808;
    margin-right: 5px;
    padding-right: 10px;
    font-size: 15px;
}
#aa-header .aa-header-area .aa-header-right .aa-login {
    text-shadow: 3px 3px 4px #080808;
    color: #fff;
    font-size: 15px;
    display: inline-block;
    line-height: 32px;
}

/* ===================
=================== */
.container-p {
    padding: 0 40px;
    margin-top: 166px;
}
.content {
    width: 1048px;
    height: 833px;
    margin: auto;
    padding: 0px;
}

/* For content 1  */
.content1 {
    width: 317px;
    height: 100%;
    background: #fff;
    float: left;
    margin: 16px 0 16px;
}
.content1-head {
    width: 100%;
    height: 299px;
    background: #fff;
}
.content1-below {
    width: 100%;
    height: 520px;
    background: #e1e7e9;
}
.content1-info {
    width: 100%;
    background: #fff;
    text-align: center;
}
.content1-info i {
    float: inline-end;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 61px;
    margin-left: 70px;
    font-size: 24px;
    box-shadow: 2px 5px 7px -1px;
    color: #59abe3;
}
.content1-info .content-description {
    margin: 20px;
    font-weight: 400;
    line-height: 1.5;
}
.content1-info .name {
    color: #59abe3;
    padding: 6px;
    font-size: 24px;
    font-weight: 600;
}
.content1-info .border {
    height: 2px;
    background: #a9a9a9;
    width: 20%;
    margin: 10px auto;
}
.content1-info .date {
    margin-top: 6px;
    font-size: 12px;
}
.content1-info .date-des {
    color: #59abe3;
    font-weight: 400;
}
.content1-head .main-account {
    font-size: 12px;
    padding: 6px 0;
    margin: 0 6px;
    border-top: 2px dotted #ccc;
    border-bottom: 2px dotted #ccc;
    font-style: oblique;
}
.content1-head .account-KM {
    font-size: 12px;
    padding: 6px;
    font-style: oblique;
}
.usd {
    float: right;
}
.content1-image {
    width: 88px;
    height: 88px;
    margin-left: 113px;
    margin-top: 16px;
    border-radius: 50%;
    border: 1px solid #59abe3;
    left: 50%;
    background: #ccc;
    font-display: inline-block;
    background: url("./img/iconbtec.png") top center / cover no-repeat;
    background-size: cover;
}
.management {
    color: #7c8085;
    font-size: 13px;
    margin-left: 6px;
    padding: 16px 0;
}
.management-des {
    border-top: 1px solid #85817c;
    border-bottom: 1px solid #85817c;
    border-color: #c7d9e0;
    mask-border-width: 9px;
    font-weight: 800;
    padding: 4px 0;
    margin: 8px 0;
    color: #5d7d92;
}
.management .fas,
.management .far {
    color: #a6beeb;
}
.content1-below-post {
    text-align: center;
}
.post {
    background: #a71f07;
    color: #fff;
    display: inline-block;
    width: auto;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}
/* End content1  */

/* For content2  */
.content2 {
    width: 714px;
    height: 100%;
    border-radius: 5px;
    background: #fff;
    float: right;
    margin: 16px 0 16px;
}
.content2 .content2-title {
    margin: 24px 6px;
    font-size: 24px;
    color: #59abe3;
    border-bottom: 1px solid #59abe3;
    border-bottom-left-radius: 0ch;
    font-weight: 600;
}
.content2 .content2-des {
    margin: 6px 6px;
}
.content2 .content2-alert {
    background: #d9e5ee;
    color: #207bb8;
    padding: 4px;
    border-radius: 4px;

}
.content2 .form-info {
    margin: 24px 0;
}
.form-info .form-group {
    color: #1f1f1f;
    margin-bottom: 32px;
}
.form-info .form-group > label {
    width: 200px;
    display: inline-block;
}
.form-info .form-control {
    display: inline-block;
}
.form-info .date-control {
    background: url("https://cdn.houseviet.vn/images/icons/calendar.svg?v=1.0.0");
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    padding-right: calc(1.5em + .75rem);
}
.form-info .radiomark {
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 4px;
    height: 20px;
    width: 20px;
    border: 1px solid #d8d8d8;
    border-radius: 50%;
}
.form-info .required {
    color: rgb(223, 58, 58);
}
.content2-des .update-button {
    text-align: center;
}
.content2-des .update-info {
    text-align: center;
    box-sizing: border-box;
    background: #a71f07;
    color: #fff;
    display: inline-block;
    width: auto;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}
.content2 .content2-title .fas {
    margin-right: 12px;
}

/* End content 2  */
.clear { clear: both }
