

/*==================
HEADER SECTION
====================*/

#aa-header .aa-header-area .aa-header-right .aa-icon {
width: 28px;
height: 28px;
border-radius: 50%;
font-size: 20px;
border: 1px solid #fff;
background: url(https://cdn.houseviet.vn/images/icons/user-avatar.png) top center / cover no-repeat;
display: inline-block;
margin-top: 2px;
}

#aa-header {
  border-bottom: 2px solid #2a6e83 !important;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}
#aa-header .aa-header-area {
  display: inline;
  padding: 5px 0;
  float: left;
  width: 100%;
}
#aa-header .options-menu {
  /* display: none; */
  min-width: 220px;
}
#aa-header .aa-header-area .aa-header-left {
  display: inline;
  float: left;
  width: 100%;
}
#aa-header .aa-header-area .aa-header-left .aa-telephone-no {
  color: #2a6e83;
  text-shadow: 3px 3px 4px #fff;
  float: left;
  font-size: 15px;
}
#aa-header .aa-header-area .aa-header-left .aa-telephone-no span {
  margin-right: 5px;
}
#aa-header .aa-header-area .aa-header-left .aa-telephone-no span .skype_c2c_logo_img {
  display: none !important;
}
#aa-header .aa-header-area .aa-header-left .aa-telephone-no .skype_c2c_text_span {
  color: #fff !important;
}
#aa-header .aa-header-area .aa-header-left .aa-email {
  text-shadow: 3px 3px 4px #080808;
  color: #fff;
  float: left;
  letter-spacing: 0.5px;
  margin-left: 20px;
  font-size: 15px;
}
#aa-header .aa-header-area .aa-header-left .aa-email span {
  margin-right: 5px;
}
#aa-header .aa-header-area .aa-header-right {
  display: inline;
  float: left;
  width: 100%;
  text-align: right;
}
#aa-header .aa-header-area .aa-header-right .aa-register {
  border-right: 1px solid #f8f8f8;
  color: #fff;
  text-shadow: 3px 3px 4px #080808;
  margin-right: 5px;
  padding-right: 10px;
  font-size: 15px;
}
#aa-header .aa-header-area .aa-header-right .aa-login {
  text-shadow: 3px 3px 4px #080808;
  color: #fff;
  font-size: 15px;
  display: inline-block;
  line-height: 32px;
}
/* edit header right  */


.aa-header-area .col-xs-6::after {
  position: relative;
}
.aa-header-area .aa-header-right {
  margin-left: -24%;
}
.aa-header-area .aa-header-right .aa-icon {
  margin-right: 4px;
}
.aa-header-area .aa-header-right .aa-login {
  position: absolute;
  margin: 1px -22px 0 32px;

}
.aa-header-right:hover .options-menu {
  display: block;
}

/* List in header right  */
.aa-username {
    
}



.aa-header-right {
  position: relative;
}

.header-right-click {
  display: flex;
  margin-left: 352px;
  /* padding-bottom: 8px; */
  margin-top: 4px;
  margin-bottom: 4px;
}
.aa-header-area .aa-header-right .aa-login {
  width: 94px;
  margin-left: 8%;
}
#aa-header .aa-header-right ul i {
  opacity: .7;
}

 

 

/* ===================
=================== */

/* End content 2  */
.clear { clear: both }
