* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}


body {
  background-color: #f1f3f3  !important;
  font-family: "Open Sans", sans-serif;
  
}

/*==================
HEADER SECTION
====================*/

#aa-header .aa-header-area .aa-header-right .aa-icon {
width: 28px;
height: 28px;
border-radius: 50%;
font-size: 20px;
border: 1px solid #fff;
background: url(https://cdn.houseviet.vn/images/icons/user-avatar.png) top center / cover no-repeat;
display: inline-block;
margin-top: 2px;
}

#aa-header {
  border-bottom: 1px solid #fff;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}
#aa-header .aa-header-area {
  display: inline;
  padding: 5px 0;
  float: left;
  width: 100%;
}
#aa-header .options-menu {
  /* display: none; */
}
.options-menu > li > a {
  display: block;
  padding: 12px;
  width: 100%;
  margin-left: 0%;
  text-align: left;
}
.options-menu > li > a:hover {
  background: #f1f3f3;
}
#aa-header .aa-header-area .aa-header-left {
  display: inline;
  float: left;
  width: 100%;
}
#aa-header .aa-header-area .aa-header-left .aa-telephone-no {
  color: #fff;
  text-shadow: 3px 3px 4px #080808;
  float: left;
  font-size: 15px;
}
#aa-header .aa-header-area .aa-header-left .aa-telephone-no span {
  margin-right: 5px;
}
#aa-header .aa-header-area .aa-header-left .aa-telephone-no span .skype_c2c_logo_img {
  display: none !important;
}
#aa-header .aa-header-area .aa-header-left .aa-telephone-no .skype_c2c_text_span {
  color: #fff !important;
}
#aa-header .aa-header-area .aa-header-left .aa-email {
  text-shadow: 3px 3px 4px #080808;
  color: #fff;
  float: left;
  letter-spacing: 0.5px;
  margin-left: 20px;
  font-size: 15px;
}
#aa-header .aa-header-area .aa-header-left .aa-email span {
  margin-right: 5px;
}
#aa-header .aa-header-area .aa-header-right {
  display: inline;
  float: left;
  width: 100%;
  text-align: right;
}
#aa-header .aa-header-area .aa-header-right .aa-register {
  border-right: 1px solid #f8f8f8;
  color: #fff;
  text-shadow: 3px 3px 4px #080808;
  margin-right: 5px;
  padding-right: 10px;
  font-size: 15px;
}
#aa-header .aa-header-area .aa-header-right .aa-login {
  text-shadow: 3px 3px 4px #080808;
  color: #fff;
  font-size: 15px;
  display: inline-block;
  line-height: 32px;
}
/* edit header right  */


.aa-header-area .col-xs-6::after {
  position: relative;
}
.aa-header-area .aa-header-right {
  margin-left: -24%;
}
.aa-header-area .aa-header-right .aa-icon {
  margin-right: 4px;
}
.aa-header-area .aa-header-right .aa-login {
  position: absolute;
  margin: 1px -22px 0 32px;

}
.aa-header-right:hover .options-menu {
  display: block;
}

/* List in header right  */

#aa-menu-area {
  z-index: 1;
}
.aa-header-right {
  position: relative;
}

.header-right-click {
  display: flex;
  margin-left: 352px;
  /* padding-bottom: 8px; */
  margin-top: 4px;
  margin-bottom: 4px;
}
.aa-header-area .aa-header-right .aa-login {
  width: 94px;
  margin-left: 8%;
}
#aa-header .aa-header-right ul i {
  opacity: .7;
}

 .options-menu {
  display: none;
  /* position: absolute; */
  position: absolute;
  top: 50%;
  min-width: 160px;
  color: #000;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 100;
  margin-left: 60%;
  margin-right: -46px;
  margin-top: 20px;
  border-radius: 0 0 5px 5px ;
}

 .options-menu > li {
  display: flex;
  /* padding-right: 24px; */
  margin-right: 0;
}
.options-menu > li > a {
  display: block;
  padding: 12px;
  width: 100%;
  margin-left: 0%;
  text-align: left;
}
.options-menu > li > a:hover {
  background: #f1f3f3;
}

 .options-menu > li > i {
  margin-right: 12px;
}

/* ===================
=================== */
.container-p {
  padding: 0 40px;
  margin-top: 166px;
}
.content {
 width: 1048px;
 height: 761px;
 margin: auto;
 padding: 0px;
}

/*For transaction history detail*/
.content .dialog {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 23px;
    height: 23px;
    z-index: 9999999999999999999999999999999999999;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity linear 0.2s;
}
.dialog-close-btn {
    position: absolute;
    top: 2px;
    right: 6px;
    text-decoration: none; 
    color: #333;
}
.dialog:target {
    visibility: visible;
    opacity: 1;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.5)
}
.overlay-close {
    position: absolute;
    width: 100%;
    height: 100%;
}
/*end of transaction history detail*/ 

/* For content 1  */
.content1 {
width: 286px;
height: 100%;
background: #fff;
float: left;
margin: 16px 0 16px;
box-shadow: 0 0 10px #ccc;

}
.content1-head {
width: 100%;
height: 254px;
background: #fff;
}
.content1-below {
width: 100%;
height: 491px;
background: #e1e7e9;
}
.content1-info {
width: 100%;
background: #fff;
text-align: center;
}
.content1-info i {
float: inline-end;
margin-bottom: 0;
margin-right: 0;
margin-top: 61px;
margin-left: 70px;
font-size: 24px;
box-shadow: 2px 5px 7px -1px;
color: #59abe3;
}
.content1-info .content-description {
margin: 20px;
font-weight: 400;
line-height: 1.5;
display: inline;
}
.content1-info .wallet {
position: relative;
text-align: left;
margin: 0 12px;
margin-top: 24px;
}
.content1-info .coin {
float: right;
display: inline;
}
.content1-info .reward-point {
position: relative;
text-align: left;
margin: 0 12px;
margin-top: 4px;
}
.content1-info .point {
float: right;
display: inline;
}
.content1-info .name {
color: #59abe3;
padding: 6px;
font-size: 24px;
}
.content1-info .border {
height: 2px;
background: #a9a9a9;
width: 20%;
margin: 10px auto;
}

.usd {
float: right;
}
.content1-image {
width: 88px;
height: 88px;
margin-left: 100px;
margin-top: 16px;
border-radius: 50%;
border: 1px solid #59abe3;
left: 50%;
background: #ccc;
font-display: inline-block;
background: url("./img/iconbtec.png") top center / cover no-repeat;
background-size: cover;
}
.management {
color: #7c8085;
font-size: 13px;
margin-left: 6px;
padding: 16px 0;
}
.management-des {
border-top: 1px solid #85817c;
border-bottom: 1px solid #85817c;
border-color: #c7d9e0;
mask-border-width: 9px;
font-weight: 800;
padding: 4px 0;
margin: 8px 0;
color: #2a6e83;
}
.management-des a {
  display: block;
}
.management .fas,
.management .far {
color: #a6beeb;
}
.content1-below-post {
text-align: center;
}
.post {
background: #a71f07;
color: #fff;
display: inline-block;
width: auto;
padding: 6px 12px;
margin-top: 20px;
border-radius: 4px;
cursor: pointer;
}
/* End content1  */


/* For content2  */
.content2 {
  width: 748px;
  height: 100%;
  border-radius: 5px;
  background: #fff;
  float: right;
  margin: 16px 0 16px;
  box-shadow: 0 0 10px #ccc;
  padding: 4px;
}
.content2 .choose {
  width: 100%;
  display: flex;
  text-align:center;
  margin-bottom: 24px;
}
.content2 .choose h3 {
    line-height: 0;
}
.content2 .choose .btns.active {
  z-index: 0;
}
.content2 .choose .btn-secondary {
  width:52%;
  height: 48px;
  line-height: 36px;
}
.content2 .choose .active {
  background: rgba(89, 171, 227, 0.8);
  color: #fff;
}
/* .content2 .tbs {
  display: none;
}
.content2 .tbs.active{
  display: block;
} */

.content2 .content2-des {
margin: 6px 6px;
}
.content .content2 .choose-history-tran ,
.choose-history-rech {
    display: flex;
    padding: 24px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.choose-history-tran .choose-tran {
    border-right: 2px solid #337ab7;
}
.choose-history-tran .choose-tran a {
    color: #337ab7;
    
}
.choose-history-tran .choose-recharge a {
    color: #337ab7;
    opacity: .5;
}
.choose-history-rech .choose-tran a{
    opacity: .5;
    color: #337ab7;
}
.choose-history-rech .choose-recharge a{
    opacity: 1;
    color: #337ab7;
}
.choose-history-rech .choose-recharge a:hover {
    color: #337ab7;
    opacity: 1;
}
.choose-history-rech .choose-recharge {
    border-left: 2px solid #337ab7;
}
.content2 .content2-alert {
background: #d9e5ee;
color: #207bb8;
padding: 4px;
border-radius: 4px;

}
.content2 .form-info {
margin: 24px 0;
}
.form-info .form-group {
color: #1f1f1f;
margin-bottom: 32px;
}
.form-info .form-group .form-select {
  width: 22%;
  padding: 6px 12px;
  margin-right: 12px;
  border-radius: 4px;
  margin-left: 0;
}
.form-info .form-group > label {
width: 200px;
display: inline-block;
}
.form-info .form-control {
display: inline-block;
}
.form-info .date-control {
background: url("https://cdn.houseviet.vn/images/icons/calendar.svg?v=1.0.0");
background-repeat: no-repeat;
background-position: center right calc(.375em + .1875rem);
background-size: calc(.75em + .375rem) calc(.75em + .375rem);
padding-right: calc(1.5em + .75rem);
}
.form-info .radiomark {
position: absolute;
top: 0;
left: 0;
margin-right: 4px;
height: 20px;
width: 20px;
border: 1px solid #d8d8d8;
border-radius: 50%;
}
.form-info .required {
color: rgb(223, 58, 58);
}
.content2-des .update-button {
text-align: center;
}
.content2-des .update-info {
text-align: center;
box-sizing: border-box;
background: #a71f07;
color: #fff;
display: inline-block;
width: auto;
padding: 6px 12px;
border-radius: 4px;
cursor: pointer;
margin-top: 16px;
}
.content2 .content2-title .fas {
margin-right: 12px;
}
.content2 #button-search {
  color: #fff;
  max-width: 120px;
  border-radius: 4px;
  color: #fff;
  border-radius: 3px;
  margin: -1px;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  background: rgba(89, 171, 227, 0.8);
  margin-right: 4px;
}
.content2 #button-search:hover {
  opacity: .6;
  box-shadow: 0 0 18px rgba(89, 171, 227, 0.8);
  border: 1px solid rgba(32, 156, 238, 0.8);
}


/* ==================
====================
Deposit money  */
.content2-des .content2-des-info {
  display: flex;
}
.content2-des .content2-des-info .customer-name {
  line-height: 71px;
  margin-left: 20px;
  font-size: 16px;
}
.content2-choose {
  width: 736px;
  height: 100%;
}
.content2-choose .content2-choose-title {
  text-align: center;
}
.content2-choose .content2-choose-des {
  position: relative;
  height: 100%;
  margin-left: 28px;
  margin-top: 32px;
}
.content2-choose .content2-choose-des .row {
  position: absolute;
  margin-left: -8px;
  width: 100%;
}
.content2-choose .content2-choose-des .row a {
  display: block;
  height: 100%;
}
.content2-choose-des .item1,
.content2-choose-des .item2,
.content2-choose-des .item3 {
  max-width: 30,33333%;
  height: 200px;
  background-size: 140px;
  text-align: center;
}
.content2-choose-des .item1:hover,
.content2-choose-des .item2:hover,
.content2-choose-des .item3:hover {
  box-shadow: 0 0 10px #ccc;
}
.content2-choose-des .item1 .img-item1 {
  background: url(https://cdn.houseviet.vn/images/icons/creditcard.svg?v=1.0.1) top center/cover no-repeat;
  background-size: 212px;
  height: 100%;
}
.content2-choose-des .item2 .img-item2 {
  background: url(https://cdn.houseviet.vn/images/icons/momo.svg?v=1.0.1) top center/cover no-repeat;
  background-size: 212px;
  height: 100%;
}
.content2-choose-des .item3 .img-item3 {
  background: url(https://cdn.houseviet.vn/images/icons/money.svg?v=1.0.1) top center/cover no-repeat;
  background-size: 212px;
  height: 100%;
}
.content2-choose-des h4 {
  margin-top: 8px;
}
#aa-footer {
  margin-top: 98px !important;
}

/* Deposit atm  */
.content2-des .info-atm {
  background: url(https://onepay.vn/paygate/assets/img/atm_logo.png) top center/cover no-repeat;
  background-size: 52px;
  width: 99px;
  margin-top: 17px;
}
.content2-choose-des .row-atm {
  height: 70px;
}
.content2-choose-des .r2 {
  margin-top: 70px;
}
.content2-choose-des .r3 {
  margin-top: 140px;
}
.content2-choose-des .r4 {
  margin-top: 210px;
}
.content2-choose-des .r5 {
  margin-top: 280px;
}
.content2-choose-des .r6 {
  margin-top: 350px;
}
.content2-choose-des .atm-c:hover {
  box-shadow: 0 0 10px #000;
}
.content2-choose-des .img-atm1 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/1_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm2 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/19_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm3 {
  background: url(	https://onepay.vn/paygate/assets/img/banklogo/24_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm4 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/4_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm5 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/2_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm6 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/14_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm7 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/16_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm8 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/3_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm9 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/8_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm10 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/6_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm11 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/5_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm12 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/11_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm13 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/12_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/10_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm14 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/7_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm15 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/20_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm16 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/15_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm17 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/22_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm18 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/17_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm19 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/23_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm20 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/18_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm21 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/27_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm22 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/25_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm23 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/30_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm24 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/9_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm25 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/33_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm26 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/46_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm27 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/35_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm28 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/36_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm29 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/38_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm30 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/42_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm31 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/44_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm32 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/41_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm33 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/37_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm34 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/43_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm35 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/31_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
.content2-choose-des .img-atm36 {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/40_logo_full.svg) top center/cover no-repeat;
  background-size: 74px;
  height: 100%;
}
/* Deposit ATM 2  */
.content2-des .logo-atm {
  background: url(https://onepay.vn/paygate/assets/img/banklogo/1_logo_full.svg) top center/cover no-repeat;
  background-size: 97px;
  height: 100px;
  width: 100px;
  margin-left: 52px;
}
.content2-choose .roww {
  margin-bottom: 24px;
}
.content2-choose .controlL {
  background: url(https://previews.123rf.com/images/asmati/asmati1702/asmati170201439/71210927-united-states-dollar-sign-flat-style-black-icon-on-white-.jpg);
  background-repeat: no-repeat;
  height: 40px;
  background-position: center right calc(.375em + .1875rem);
  background-size: calc(2em + 1.5rem) calc(2em + 1.5rem);
  padding-right: calc(1.5em + .75rem);
  display: inline-block;
}
.content2-choose .roww:last-child {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
}
.content2-choose .roww:last-child > a {
  text-decoration: underline;
  color: rgb(34, 111, 173);
  line-height: 45px;
  margin-right: 12px;
} 
.content2-choose .roww-pay {
  padding: 12px 56px;
  width: 140px;
  background: #a71f07;
  color: #fff;
  border-radius: 4px;
  float: right;
}

.glyphicon-plane {
    animation: mymove 5s infinite 2s;
}
.glyphicon-plane:hover {
    font-size: 24px;
}
.glyphicon-plane {animation-timing-function: linear;}
@keyframes mymove {
  0%   {color:rgba(89, 171, 227, 0.8); left:0px; top:0px;}
  25%  {color:#rgba(121, 185, 228, 0.8); top:10px;}
  50%  {color: rgba(205, 224, 236, 0.8);  top:0px;}
  75%  {color:#rgba(121, 185, 228, 0.8);  bottom:10px;}
  100% {color:rgba(89, 171, 227, 0.8); left:0px; top:0px;}
}



/* Transfer method  */
.content2-des .transfer {
  display: block;
}
.content2-des .tb-tran {
  margin-top: 24px;
}
/*===========================================
======================= DEPOSIT MONEY 14/12
=============================================
============================================= */
.content2-title {
  font-size: 28px;
  font-weight: 600;
  color: #78afe3;
}
.content2-des-info h3,
.content2-choose-title h3 {
  color: #78afe3;
}
.item1 h4,
.item2 h4,
.item3 h4 {
  opacity: .8;
}
/* for atm2 */

/* END OF DEPOSIT MONEY 14/12 */

/*===========================================
======================= DEPOSIT MONEY 15/12
=============================================
============================================= */
.content2-choose-title h4 {
  opacity: .8;
}
.content2-choose-des .row h4 {
  transform: translateY(-128px);
  font-size: 28px;
  font-weight: 900;
}
.content2-choose-des .pic-payment {
  opacity: .2;
}
.item1:hover h4,
.item2:hover h4,
.item3:hover h4 {
  font-size: 32px;
  color: #59abe3;
  cursor: pointer;
}
/* coin animation */
.coin1 {
  animation: drop 5s infinite;
}

.coin2 {
  animation: drop 8s infinite;
}
.coin3 {
  animation: drop 10s infinite;
}
.coin4 {
  animation: drop 10s infinite;
}
.coin5 {
  animation: drop 10s infinite;
}

@keyframes drop {
  0% {
    transform: translate3d(200px, 100px, 0px);
  }
  50% {
    transform: translate3d(25px, 500px, 0px);
  }
  100% {
    transform: translate3d(0px, 800px, 0px);

  }
}
.content2-des-transfer h4 {
  color: #59abe4;
  font-weight: 600;
}
.content2-transfer-pay {
  transform: translateY(-540px);
}

#content2-transfer-payy {
  display: block;
  
}
/* END OF DEPOSIT MONEY 15/12 */


/* End content 2  */
.clear { clear: both }


