
#aa-about-us {
    display: inline;
    float: left;
    width: 100%;
}
#aa-about-us .aa-about-us-area {
    display: inline;
    float: left;
    width: 100%;
    padding: 100px 0px;
}
#aa-about-us .aa-about-us-area .aa-about-us-left {
    display: inline;
    float: left;
    width: 100%;
}
#aa-about-us .aa-about-us-area .aa-about-us-left img {
    width: 100%;
}
#aa-about-us .aa-about-us-area .aa-about-us-right {
    display: inline;
    float: left;
    width: 100%;
}
.aa-title {
    display: inline;
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin: 0px;
}
.aa-title span {
    width: 2px;
    height: 15px;
    display: inline-block;
    position: relative;
}
.aa-title span::before {
    content: "";
    right: 4px;
    top: 7px;
    position: absolute;
    width: 100px;
    height: 2px;
}
.aa-title span::after {
    content: "";
    left: 4px;
    top: 7px;
    position: absolute;
    width: 100px;
    height: 2px;
}
p {
    margin: 0px 0px 10px;
}
#aa-about-us .aa-about-us-area .aa-about-us-right ul {
    margin-left: 30px;
}
.aa-about-us-right ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
#aa-about-us .aa-about-us-area .aa-about-us-right ul li {
    font-style: italic;
    list-style: circle;
    margin-bottom: 5px;
}
#aa-service .aa-service-area {
    display: inline;
    float: left;
    width: 100%;
    margin-top: -88px;
}
.aa-title {
    display: inline;
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Poppins, sans-serif;
}

element.style {
}
#aa-service .aa-service-area .aa-service-content {
    display: inline;
    float: left;
    width: 100%;
    margin-top: 40px;
}
#aa-service .aa-service-area .aa-service-content .aa-single-service {
    display: inline;
    float: left;
    text-align: center;
    width: 100%;
}
#aa-service .aa-service-area .aa-service-content .aa-single-service .aa-service-icon {
    display: inline;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}
#aa-service .aa-service-area .aa-service-content .aa-single-service .aa-service-icon::before {
    border: 2px solid transparent;
    border-radius: 50%;
    content: "";
    height: 100px;
    margin-left: 4px;
    position: absolute;
    width: 92px;
    transition: all 0.5s ease 0s;
}
#aa-service .aa-service-area .aa-service-content .aa-single-service .aa-service-icon span {
    border-radius: 50%;
    color: rgb(255, 255, 255);
    font-size: 40px;
    height: 100px;
    line-height: 100px;
    width: 100px;
}
#aa-service .aa-service-area .aa-service-content .aa-single-service .aa-single-service-content {
    display: inline;
    float: left;
    width: 100%;
}
#aa-service .aa-service-area .aa-service-content .aa-single-service .aa-single-service-content h4 {
    font-size: 20px;
}
#aa-service .aa-service-area .aa-service-content .aa-single-service .aa-single-service-content h4 a {
    transition: all 0.5s ease 0s;
}
a {
    text-decoration: none;
    color: rgb(51, 51, 51);
}
#aa-service .aa-service-area .aa-service-content .aa-single-service .aa-single-service-content p {
    font-size: 13px;
}
#aa-client-testimonial {
    background-attachment: fixed;
    background-image: url(../img/testimonial-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline;
    float: left;
    padding: 100px 0;
    width: 100%;
    position: relative;
}
#aa-client-testimonial:before {
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
#aa-client-testimonial .aa-client-testimonial-area {
    display: inline;
    float: left;
    width: 100%;
}
.aa-title {
    display: inline;
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
#aa-client-testimonial .aa-client-testimonial-area .aa-title p {
    color: #fff;
}
#aa-client-testimonial .aa-client-testimonial-area .aa-testimonial-content {
    display: inline;
    float: left;
    width: 100%;
}
#aa-client-testimonial .aa-client-testimonial-area .aa-testimonial-content .aa-testimonial-slider {
    display: inline;
    float: left;
    margin-top: 50px;
    width: 100%;
}
#aa-client-testimonial .aa-client-testimonial-area .aa-testimonial-content .aa-testimonial-slider .slick-prev {
    background: none;
    left: 10%;
}
#aa-client-testimonial .aa-client-testimonial-area .aa-testimonial-content .aa-testimonial-slider .slick-prev::before {
    content: "\f177";
}
.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
#aa-client-testimonial .aa-client-testimonial-area .aa-testimonial-content .aa-testimonial-slider li {
    display: inline;
    float: left;
    width: 100%;
}
#aa-client-testimonial .aa-client-testimonial-area .aa-testimonial-content .aa-testimonial-slider li .aa-testimonial-single {
    display: inline;
    float: left;
    padding: 0 150px;
    position: relative;
    width: 100%;
}
#aa-client-testimonial .aa-client-testimonial-area .aa-testimonial-content .aa-testimonial-slider li .aa-testimonial-single .aa-testimonial-img {
    display: inline;
    float: left;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 10;
}
#aa-client-testimonial .aa-client-testimonial-area .aa-testimonial-content .aa-testimonial-slider li .aa-testimonial-single .aa-testimonial-img img {
    background-color: #FFF;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-top: 24px;
    border-radius: 50%;
}

#aa-client-testimonial .aa-client-testimonial-area .aa-testimonial-content .aa-testimonial-slider li .aa-testimonial-single .aa-testimonial-info {
    display: inline;
    float: left;
    width: 100%;
    text-align: center;
}
#aa-client-testimonial .aa-client-testimonial-area .aa-testimonial-content .aa-testimonial-slider li .aa-testimonial-single .aa-testimonial-info p {
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
    padding: 0 100px;
    position: relative;
    z-index: 20;
}
#aa-client-testimonial .aa-client-testimonial-area .aa-testimonial-content .aa-testimonial-slider li .aa-testimonial-single .aa-testimonial-info p:before {
    content: '\f10e';
    font-family: fontAwesome;
    font-size: 50px;
    left: 1%;
    position: absolute;
    text-align: center;
    top: 20%;
    opacity: 0.6;
    width: 100%;
    z-index: -10;
}
#aa-client-testimonial .aa-client-testimonial-area .aa-testimonial-content .aa-testimonial-slider li .aa-testimonial-single .aa-testimonial-bio {
    color: #fff;
    display: inline-block;
    float: left;
    margin-top: 20px;
    margin-bottom: 25px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 30;
}
#aa-client-testimonial .aa-client-testimonial-area .aa-testimonial-content .aa-testimonial-slider li .aa-testimonial-single .aa-testimonial-bio p {
    border-top: 1px solid #f8f8f8;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
    min-width: 175px;
    padding-top: 10px;
}
#aa-client-testimonial .aa-client-testimonial-area .aa-testimonial-content .aa-testimonial-slider li .aa-testimonial-single .aa-testimonial-bio span {
    display: block;
}
#aa-client-testimonial .aa-client-testimonial-area .aa-testimonial-content .aa-testimonial-slider li .aa-testimonial-single:after {
    background-color: rgba(50, 59, 64, 0.8);
    content: "";
    height: 370px;
    top: 0;
    left: 30%;
    position: absolute;
    width: 40%;
}
#aa-client-testimonial .aa-client-testimonial-area .aa-testimonial-content .aa-testimonial-slider li {
    display: inline;
    float: left;
    width: 100%;
}
#aa-client-testimonial .aa-client-testimonial-area .aa-testimonial-content .aa-testimonial-slider li .aa-testimonial-single {
    display: inline;
    float: left;
    padding: 0 150px;
    position: relative;
    width: 100%;
}
#aa-client-testimonial .aa-client-testimonial-area .aa-testimonial-content .aa-testimonial-slider .slick-next {
    background: none;
    right: 10%;
}
#aa-client-testimonial .aa-client-testimonial-area .aa-testimonial-content .aa-testimonial-slider .slick-next::before {
    content: "\f178";
}
#aa-client-brand {
    background-color: #f8f8f8;
    display: inline;
    float: left;
    padding: 50px 0;
    width: 100%;
}
#aa-client-brand .aa-client-brand-area {
    display: inline;
    float: left;
    width: 100%;
}
#aa-client-brand .aa-client-brand-area .aa-client-brand-slider {
    display: inline-block;
    text-align: center;
    width: 100%;
}
#aa-client-brand .aa-client-brand-area .aa-client-brand-slider li {
  display: inline-block;
  margin: 0 36px;
}
#aa-client-brand .aa-client-brand-area .aa-client-brand-slider li .aa-client-single-brand {
  opacity: 0.5;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#aa-client-brand .aa-client-brand-area .aa-client-brand-slider li .aa-client-single-brand:hover {
  opacity: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
// end of edit 1/1/2022

#aa-slider .aa-slider-area .aa-top-slider .aa-top-slider-single .aa-top-slider-content {
    left: 34% !important;
}

#aa-about-us .aa-about-us-area .aa-about-us-left img {
    min-height: 324px;
}

#aa-service {
    padding-top: 0 !important;
    margin-top: 88px;
}

#aa-agents {
    padding-top: 0!important;
    margin-top: 88px;
}

#aa-agents .aa-agents-area .aa-agents-content .aa-agents-slider li .aa-single-agents .aa-agents-img img {
    height: 330px;
}

#aa-client-testimonial {
    background-attachment: fixed;
    background-image: url(../about-us-img/backgroundcuoi.jpg) !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline;
    float: left;
    padding: 100px 0;
    width: 100%;
    position: relative;
}

.aa-client-single-brand img {
    width: 150px;
    height: 60px;
}