* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}


body {
  background-color: #63acc2 !important;
  font-family: "Open Sans", sans-serif;
  
}

/*==================
HEADER SECTION
====================*/

#aa-header .aa-header-area .aa-header-right .aa-icon {
width: 28px;
height: 28px;
border-radius: 50%;
font-size: 20px;
border: 1x solid #fff;
background: url(https://cdn.houseviet.vn/images/icons/user-avatar.png) top center / cover no-repeat;
display: inline-block;
margin-top: 2px;
}

#aa-header {
  border-bottom: 1px solid #fff;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}
#aa-header .aa-header-area {
  display: inline;
  padding: 5px 0;
  float: left;
  width: 100%;
}

#aa-header .aa-header-area .aa-header-left {
  display: inline;
  float: left;
  width: 100%;
}
#aa-header .aa-header-area .aa-header-left .aa-telephone-no {
  color: #fff;
  text-shadow: 3px 3px 4px #080808;
  float: left;
  font-size: 15px;
}
#aa-header .aa-header-area .aa-header-left .aa-telephone-no span {
  margin-right: 5px;
}
#aa-header .aa-header-area .aa-header-left .aa-telephone-no span .skype_c2c_logo_img {
  display: none !important;
}
#aa-header .aa-header-area .aa-header-left .aa-telephone-no .skype_c2c_text_span {
  color: #fff !important;
}
#aa-header .aa-header-area .aa-header-left .aa-email {
  text-shadow: 3px 3px 4px #080808;
  color: #fff;
  float: left;
  letter-spacing: 0.5px;
  margin-left: 20px;
  font-size: 15px;
}
#aa-header .aa-header-area .aa-header-left .aa-email span {
  margin-right: 5px;
}
#aa-header .aa-header-area .aa-header-right {
  display: flex;
  float: left;
  width: 100%;
  text-align: right;
}
#aa-header .aa-header-area .aa-header-right .aa-register {
  border-right: 1px solid #f8f8f8;
  color: #fff;
  text-shadow: 3px 3px 4px #080808;
  margin-right: 5px;
  padding-right: 10px;
  font-size: 15px;
}
#aa-header .aa-header-area .aa-header-right .aa-login {
  text-shadow: 3px 3px 4px #080808;
  color: #fff;
  font-size: 15px;
  display: inline-block;
  line-height: 32px;
}

/* edit header right  */

.aa-header-area .col-xs-6::after {
  position: relative;
}
.aa-header-area .aa-header-right {
  margin-left: -58px;
}
.aa-header-area .aa-header-right .aa-icon {
  margin-right: 4px;
}
.aa-header-area .aa-header-right .aa-login {
  position: absolute;
  margin: 1px -22px 0 32px;

}
.aa-header-right:hover .options-menu {
  display: block;
}

/* List in header right  */

#aa-menu-area {
  z-index: 1;
}
.aa-header-right {
  position: relative;
}

.header-right-click {
  display: flex;
  margin-left: 352px;
  padding-bottom: 8px;
}
#aa-header .aa-header-right ul i {
  opacity: .7;
}

 .options-menu {
  display: none;
  /* position: absolute; */
  position: absolute;
  top: 50%;
  min-width: 160px;
  color: #000;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
  margin-left: 60%;
  margin-right: -46px;
  margin-top: 20px;
  border-radius: 0 0 5px 5px ;
}

 .options-menu > li {
  display: flex;
  padding: 12px;
  padding-right: 24px;
}

 .options-menu > li > i {
  margin-right: 12px;
}





/* ===================
=================== */
.container-p {
  padding: 0 40px;
  margin-top: 166px;
}
.content {
 width: 1048px;
 height: 761px;
 margin: auto;
 padding: 0px;
}

/* For content 1  */
.content1 {
 width: 286px;
 height: 100%;
 background: #fff;
 float: left;
 margin: 16px 0 16px;
}
.content1-head {
 width: 100%;
 height: 225px;
 background: #fff;
}
.content1-below {
 width: 100%;
 height: 520px;
 background: #e1e7e9;
}
.content1-info {
  width: 100%;
  background: #fff;
  text-align: center;
}
.content1-info i {
  float: inline-end;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 61px;
  margin-left: 70px;
  font-size: 24px;
  box-shadow: 2px 5px 7px -1px;
  color: #59abe3;
}
.content1-info .content-description {
  margin: 20px;
  font-weight: 400;
  line-height: 1.5;
  display: inline;
}
.content1-info .wallet {
position: relative;
text-align: left;
margin: 0 12px;
margin-top: 24px;
}
.content1-info .coin {
float: right;
display: inline;
}
.content1-info .name {
  color: #59abe3;
  padding: 6px;
  font-size: 24px;
}
.content1-info .border {
  height: 2px;
  background: #a9a9a9;
  width: 20%;
  margin: 10px auto;
}
.content1-info .date {
  margin-top: 6px;
  font-size: 12px;
}
.content1-info .date-des {
  color: #59abe3;
}
.content1-head .main-account {
  font-size: 12px;
  padding: 6px 0;
  margin: 0 6px;
  border-top: 2px dotted #ccc;
  border-bottom: 2px dotted #ccc;
  font-style: oblique;
}
.content1-head .account-KM {
  font-size: 12px;
  padding: 6px;
  font-style: oblique;
}
.usd {
  float: right;
}
.content1-image {
  width: 88px;
  height: 88px;
  margin-left: 100px;
  margin-top: 16px;
  border-radius: 50%;
  border: 1px solid #59abe3;
  left: 50%;
  background: #ccc;
  font-display: inline-block;
  background: url("./img/iconbtec.png") top center / cover no-repeat;
  background-size: cover;
}
.management {
  color: #7c8085;
  font-size: 13px;
  margin-left: 6px;
  padding: 16px 0;
}
.management-des {
  border-top: 1px solid #85817c;
  border-bottom: 1px solid #85817c;
  border-color: #c7d9e0;
  mask-border-width: 9px;
  font-weight: 800;
  padding: 4px 0;
  margin: 8px 0;
  color: #5d7d92;
}
.management .fas,
.management .far {
  color: #0f6674;
}
.content1-below-post {
  text-align: center;
}
.post {
  background: #a71f07;
  color: #fff;
  display: inline-block;
  width: auto;
  padding: 6px 12px;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
}
/* End content1  */

/* For content2  */
.content2 {
  width: 748px;
  height: 100%;
  border-radius: 5px;
  background: #fff;
  float: right;
  margin: 16px 0 16px;
}

/* End content 2  */
.clear { clear: both }

